@page "/"

<div class="campaign-box mat-elevation-z11">
    <div class="campaign-box-available">
        <MatHeadline5>Available Campaigns</MatHeadline5>

        <MatList SingleSelection="true" TwoLine="true">
            @foreach (var campaignContainer in this.AppState.CampaignContainers)
            {
                <MatListItem OnClick="() => this.OnCampaignContainerSelected(campaignContainer)">
                    <MatListItemText>
                        <MatListItemPrimaryText>@campaignContainer.Name.TrimStart('/').Replace("/", " / ")</MatListItemPrimaryText>
                        <MatListItemSecondaryText>@campaignContainer.CampaignMeta.ShortDescription</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>
            }
        </MatList>
    </div>
    <div class="campaign-box-selected">

        @if (this.AppState.CampaignContainer != null)
        {
            <MatHeadline5>@this.AppState.CampaignContainer.Name.TrimStart('/').Replace("/", " / ")</MatHeadline5>
            <p class="long-description">
                @this.AppState.CampaignContainer.CampaignMeta.LongDescription
            </p>
            <div class="campaign-box-selected-footer">
                <div>
                    <b>Start: </b> @this.AppState.CampaignContainer.Campaign.CampaignStart.ToString("dd.MM.yyyy") &nbsp;&nbsp;&nbsp; <b>End: </b> @this.AppState.CampaignContainer.Campaign.CampaignEnd.ToString("dd.MM.yyyy")
                </div>

                @if (this.AppState.Attachments != null && this.AppState.Attachments.Any())
                {
                    <MatIconButton Icon="@MatIconNames.Attach_file" OnClick="@OpenattachmentDialog" />
                }
            </div>
        }
        else
        {
            <MatHeadline5>Select a Campaign ...</MatHeadline5>
        }
    </div>
</div>
<div class="channel-box mat-elevation-z11">

    @if (this.AppState.GroupedVariables != null)
    {
        <div class="channel-box-headline">
            <MatTextField class="channel-box-headline-1" @bind-Value="@this.AppState.SearchString" Label="Search" Icon="search" IconTrailing="true"></MatTextField>

            @*@if(this.AppState.VariableGroup != null)
            {
                <MatHeadline5 class="channel-box-headline-2">Variables</MatHeadline5>
            }

            <MatHeadline5 class="channel-box-headline-3">Selected</MatHeadline5>*@
        </div>

        <div class="channel-box-content">
            <div class="available-groups">
                <div>
                    @foreach (var entry in this.AppState.GroupedVariables.OrderBy(entry => entry.Key).Skip(groupPage * groupPageSize).Take(groupPageSize))
                    {
                        <MatRipple @onclick="() => this.OnVariableGroupSelected(entry.Value)"
                                   Color="@MatRippleColor.Secondary"
                                   class="@(this.AppState.VariableGroup == entry.Value? "selected" : "")">
                            @entry.Key
                        </MatRipple>
                    }
                </div>

                <Paginator Length="this.AppState.GroupedVariables.Count" PageSize="groupPageSize" @bind-Page="@groupPage"></Paginator>
            </div>

            <div class="available-variables">
                @if (this.AppState.VariableGroup != null)
                {
                    <div>
                        @foreach (var variable in this.AppState.VariableGroup.Skip(@variablePage * variablePageSize).Take(variablePageSize))
                        {
                            <VariableExpander Variable="variable" />
                        }
                    </div>

                    <Paginator Length="this.AppState.VariableGroup.Count" PageSize="variablePageSize" @bind-Page="@variablePage"></Paginator>
                }
            </div>

            <div class="selected-variables">


            </div>
        </div>
    }

</div>

<Attachments @bind-IsOpen="this.attachmentDialogIsOpen" />

@code {
    int groupPageSize = 17;
    int groupPage = 0;

    int variablePageSize = 10;
    int variablePage = 0;
}