@inherits AppStateComponentBase

<div class="campaign-box-available">
    <MatHeadline5>Available Campaigns</MatHeadline5>
    <ul>
        @foreach (var campaignContainer in this.AppState.CampaignContainersInfo.Accessible)
        {
            <li @onclick="() => this.AppState.CampaignContainer = campaignContainer">
                <div class="campaign-item @(this.AppState.CampaignContainer == campaignContainer ? "active" : "")">
                    <div class="campaign-item-name">@campaignContainer.Id.TrimStart('/').Replace("/", " / ")</div>
                    <div class="small-text">&nbsp;&nbsp;&nbsp;@campaignContainer.CampaignMeta.ShortDescription</div>
                </div>
            </li>
        }

        @foreach (var campaignContainer in this.AppState.CampaignContainersInfo.Restricted)
        {
            <li>
                <div class="campaign-item disabled">
                    <div class="campaign-item-name">@campaignContainer.Id.TrimStart('/').Replace("/", " / ")&nbsp;&nbsp;<i class="fas fa-lock"></i></div>
                    <div class="small-text">&nbsp;&nbsp;&nbsp;@campaignContainer.CampaignMeta.ShortDescription</div>
                </div>
            </li>
        }
    </ul>
</div>
<div class="campaign-box-selected">

    @if (this.AppState.CampaignContainer != null)
    {
        <MatHeadline5>@this.AppState.CampaignContainer.Id.TrimStart('/').Replace("/", " / ")</MatHeadline5>
        <p class="long-description small-text">
            @this.AppState.CampaignContainer.CampaignMeta.LongDescription
        </p>
        <div class="campaign-box-selected-footer">
            <div class="campaign-box-selected-footer-date">
                <b>Start:&nbsp;</b> @this.AppState.CampaignContainer.Campaign.CampaignStart.ToString("dd.MM.yyyy") &nbsp;&nbsp;&nbsp; <b>End:&nbsp;</b> @this.AppState.CampaignContainer.Campaign.CampaignEnd.ToString("dd.MM.yyyy")
            </div>

            <div class="campaign-box-selected-footer-icons">
                @if (this.AppState.Attachments != null && this.AppState.Attachments.Any())
                {
                    <MatIconButton Icon="@MatIconNames.Attach_file" OnClick="this.OpenAttachmentsDialog" />
                }

                <MatIconButton Class="@(this.AppState.ClientState == ClientState.DataAvailability ? "selected" : "")" Icon="@MatIconNames.Bar_chart" OnClick="this.AppState.ToggleDataAvailability" />
            </div>
        </div>
    }
    else
    {
        <span class="small-text">no campaign selected</span>
    }
</div>

<Attachments @bind-IsOpen="this.AttachmentsDialogIsOpen" />