<div class="channel-expander" @onclick="this.OnClick" @onmouseover="() => _showAdditionalInfo = true" @onmouseout="() => _showAdditionalInfo = false">
    <div class="channel-name">

        @if (this.UserState.IsEditEnabled)
        {
            <span>@this.Channel.Name&nbsp;</span><input type="text" @bind-value="this.Channel.Unit" />
        }
        else
        {
            @if (string.IsNullOrWhiteSpace(this.Channel.Unit))
            {
                @this.Channel.Name
            }
            else
            {
                <span>@this.Channel.Name&nbsp;</span><span class="small-text">@this.Channel.Unit</span>
            }
        }

        <div class="channel-special-info">
            @if (this.UserState.IsEditEnabled)
            {
                <input type="text" @bind-value="this.Channel.SpecialInfo" />
            }
            else
            {
                @if (!string.IsNullOrWhiteSpace(this.Channel.SpecialInfo))
                {
                    <span><i class="fas fa-exclamation-triangle"></i></span>
                    @this.Channel.SpecialInfo
                }
            }
        </div>

        <div class="channel-sample-rates">
            @if (_showAdditionalInfo)
            {
                @foreach (var sampleRate in this.GetSampleRates())
                {
                    <div class="channel-sample-rate" @onclick="() => this.UserState.SampleRate = sampleRate">
                        @sampleRate
                    </div>
                }
            }
        </div>

        <div class="channel-datasets ml-auto">
            @foreach (var dataset in _filteredDatasets)
            {
                <div class="channel-dataset @(this.UserState.IsDatasetSeleced(dataset) ? "selected" : "")"
                     @onclick="() => this.UserState.ToggleDatasetSelection(dataset)">
                    @dataset.Name
                </div>
            }
        </div>
    </div>
    <span class="channel-description">
        @if (this.UserState.IsEditEnabled)
        {
            <input type="text" @bind-value="this.Channel.Description" />
        }
        else
        {
            @this.Channel.Description
        }
    </span>
</div>