<div class="variable-expander" @onclick="this.OnClick" @onmouseover="() => _showSampleRates = true" @onmouseout="() => _showSampleRates = false">
    <div class="variable-name">
        @if (string.IsNullOrWhiteSpace(this.Variable.Unit))
        {
            @this.Variable.Name
        }
        else
        {
            <span>@this.Variable.Name / @this.Variable.Unit</span>
        }

        <div class="variable-special-info">
            @if (this.AppState.IsEditEnabled)
            {
                <input type="text" @bind-value="this.Variable.SpecialInfo" />
            }
            else
            {
                @if (!string.IsNullOrWhiteSpace(this.Variable.SpecialInfo))
                {
                    <span><i class="fas fa-exclamation-triangle"></i></span>
                    @this.Variable.SpecialInfo
                }
            }
        </div>

        <div class="variable-sample-rates">
            @if (_showSampleRates)
            {
                @foreach (var sampleRate in this.GetSampleRates())
                {
                    <div class="variable-sample-rate" @onclick="() => this.AppState.SampleRate = sampleRate">
                        @sampleRate
                    </div>
                }
            }
        </div>

        <div class="variable-datasets ml-auto">
            @if (_filteredDatasets.Any())
            {
                @foreach (var dataset in _filteredDatasets)
                {
                    <div class="variable-dataset @(this.AppState.IsDatasetSeleced(dataset) ? "selected" : "")"
                         @onclick="() => this.AppState.ToggleDatasetSelection(dataset)">
                        @dataset.Name
                    </div>
                }
            }
        </div>
    </div>
    <span class="variable-description">
        @if (this.AppState.IsEditEnabled)
        {
            <input type="text" @bind-value="this.Variable.Description" />
        }
        else
        {
            @this.Variable.Description
        }
    </span>
</div>