@inherits StateComponentBase
@inject IHttpContextAccessor ContextAccessor

@if (this.UserState.GroupedChannels != null) // user has access to project
{
    <div class="available-groups">

        <MatTextField @bind-Value="this.UserState.SearchString"
                      OnInput="e => this.UserState.SearchString = e.Value.ToString()"
                      Label="Search"
                      Icon="@_searchIcon"
                      IconOnClick="@(() => this.UserState.SearchString = "")"
                      IconTrailing="true">
        </MatTextField>

        <div class="available-groups-list">
            @foreach (var entry in this.UserState.GroupedChannels.OrderBy(entry => entry.Key).Skip(this.GroupPage * this.GroupPageSize).Take(this.GroupPageSize))
            {
                <div @onclick="() => this.UserState.GroupedChannelsEntry = entry"
                     class="group-entry @(this.UserState.GroupedChannelsEntry.Equals(entry) ? "selected" : "")">
                    <span class="group-entry-name">@entry.Key</span>
                    <span class="group-entry-count">@entry.Value.Count</span>
                </div>
            }
        </div>

        <Paginator Length="this.UserState.GroupedChannels.Count" PageSize="this.GroupPageSize" @bind-Page="this.GroupPage"></Paginator>
    </div>

    <div class="available-channels">
        @if (this.UserState.GroupedChannelsEntry.Value != null)
        {
            <div>
                @foreach (var channel in this.UserState.GroupedChannelsEntry.Value.Skip(this.ChannelPage * this.ChannelPageSize).Take(this.ChannelPageSize))
                {
                    <ChannelExpander Channel="channel" />
                }
            </div>

            <Paginator Length="this.UserState.GroupedChannelsEntry.Value.Count" PageSize="this.ChannelPageSize" @bind-Page="this.ChannelPage"></Paginator>
        }
    </div>
}
else if (this.UserState.ProjectContainer != null) // user has no access to project
{
    <div class="flex-centered h-100 w-100">
        @if (this.ContextAccessor.HttpContext.User.Identity.IsAuthenticated)
        {
            @if (this.UserState.ProjectContainer.ProjectMeta.License.LicensingScheme == Database.ProjectLicensingScheme.ManualRequest)
            {
                <span>You do not have access to this project.@(!string.IsNullOrWhiteSpace(this.UserState.ProjectContainer.ProjectMeta.Contact) ? $" Please contact {this.UserState.ProjectContainer.ProjectMeta.Contact} to request permission." : "")</span>
            }
            else if (this.UserState.ProjectContainer.ProjectMeta.License.LicensingScheme == Database.ProjectLicensingScheme.AcceptLicense)
            {
                <MatButton Outlined="true" Icon="@MatIconNames.Lock_open" @onclick="this.OpenLicenseDialog">Unlock</MatButton>
            }
        }
        else
        {
            <span>You are not logged in. Access to project denied.</span>
        }
    </div>

    <LicensingModal @bind-IsOpen="this.LicenseDialogIsOpen" />
}