@inherits AppStateComponentBase


@if (this.AppState.GroupedChannels != null) // user has access to project
{
    <div class="available-groups">

        <MatTextField @bind-Value="this.AppState.SearchString"
                      OnInput="e => this.AppState.SearchString = e.Value.ToString()"
                      Label="Search"
                      Icon="@_searchIcon"
                      IconOnClick="@(() => this.AppState.SearchString = "")"
                      IconTrailing="true">
        </MatTextField>

        <div class="available-groups-list">
            @foreach (var entry in this.AppState.GroupedChannels.OrderBy(entry => entry.Key).Skip(this.GroupPage * this.GroupPageSize).Take(this.GroupPageSize))
            {
                <div @onclick="() => this.AppState.ChannelGroup = entry.Value"
                     class="group-entry @(this.AppState.ChannelGroup == entry.Value? "selected" : "")">
                    <span class="group-entry-name">@entry.Key</span>
                    <span class="group-entry-count">@entry.Value.Count</span>
                </div>
            }
        </div>

        <Paginator Length="this.AppState.GroupedChannels.Count" PageSize="this.GroupPageSize" @bind-Page="this.GroupPage"></Paginator>
    </div>

    <div class="available-channels">
        @if (this.AppState.ChannelGroup != null)
        {
            <div>
                @foreach (var channel in this.AppState.ChannelGroup.Skip(this.ChannelPage * this.ChannelPageSize).Take(this.ChannelPageSize))
                {
                    <ChannelExpander Channel="channel" />
                }
            </div>

            <Paginator Length="this.AppState.ChannelGroup.Count" PageSize="this.ChannelPageSize" @bind-Page="this.ChannelPage"></Paginator>
        }
    </div>
} 
else if (this.AppState.ProjectContainer != null) // user has no access to project
{
    <span>You do not have access to this project.@(!string.IsNullOrWhiteSpace(this.AppState.ProjectContainer.ProjectMeta.ResponsiblePerson) ? $" Please contact {this.AppState.ProjectContainer.ProjectMeta.ResponsiblePerson} to request permission." : "")</span>
}