@inherits StateComponentBase

<EditForm class="h-100 flex-column" Model="@this.UserState.CodeDefinition" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div>
        <MatTextField class="settings-control"
                      Label="Name"
                      @bind-Value="this.UserState.CodeDefinition.Name">
        </MatTextField>

        <MatSelectItem class="settings-control"
                       Label="Code Type"
                       Disabled="true"
                       @bind-Value="this.UserState.CodeDefinition.CodeType"
                       Items="this.AppState.CodeTypeValues">
            <ItemTemplate Context="value">
                @Utilities.GetEnumLocalization(@value)
            </ItemTemplate>
        </MatSelectItem>

        <MatSelectItem class="settings-control"
                       Label="Code Language"
                       @bind-Value="this.UserState.CodeDefinition.CodeLanguage"
                       Items="this.AppState.CodeLanguageValues">
            <ItemTemplate Context="value">
                @Utilities.GetEnumLocalization(@value)
            </ItemTemplate>
        </MatSelectItem>

        <MatCheckbox Class="settings-control"
                     Label="Enable"
                     @bind-Value="this.UserState.CodeDefinition.IsEnabled">
        </MatCheckbox>

        @if (this.UserState.CodeDefinition.CodeType == CodeType.Filter)
        {
            <MatSelectItem class="settings-control"
                           Label="Sample Rate"
                           @bind-Value="this.UserState.CodeDefinition.SampleRate"
                           Items="this.UserState.SampleRateValues">
            </MatSelectItem>

            <div class="configuration-panel mt-auto">
                <div class="flex-row">
                    <div class="configuration-panel-hover">
                        <div class="icon-button" @onclick="this.OpenCodeDefinitionProjectRequestDialog">
                            @this.UserState.CodeDefinition.RequestedProjectIds.Count
                            @if (this.UserState.CodeDefinition.RequestedProjectIds.Count == 1)
                            {
                                <MatSubtitle2 class="clear-margin">Project Reference</MatSubtitle2>
                            }
                            else
                            {
                                <MatSubtitle2 class="clear-margin">Project References</MatSubtitle2>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <MatButton Class="w-100"
               Icon="@MatIconNames.Save"
               Outlined="true"
               Type="submit"
               Label="Save">
    </MatButton>

</EditForm>

<!-- Should be outside the form, otherwise there will come the following error:
 MatBlazor.MatCheckbox`1[System.Boolean] requires a value for the 'ValueExpression' parameter. Normally this is provided automatically when using 'bind-Value'. -->
<CodeDefinitionProjectRequestModal OnProjectIdsSelected="this.SelectProjectIds"
                                   @bind-IsOpen="this.CodeDefinitionProjectRequestDialogIsOpen"
                                   SelectedProjectIds="this.UserState.CodeDefinition.RequestedProjectIds" />
