<MatDialog @bind-IsOpen="@this.IsOpen" CanBeClosed="false">
    <MatDialogTitle>Create new code file</MatDialogTitle>
    <MatDialogContent>
        <p>Browse code of other users and use it as template:</p>
        <MatNavMenu>
            @if (this.OwnerToCodeDefinitionsMap != null && this.OwnerToCodeDefinitionsMap.Any())
            {
                @foreach (var entry in this.OwnerToCodeDefinitionsMap)
                {
                    <MatNavSubMenu>
                        <MatNavSubMenuHeader>
                            <MatNavItem AllowSelection="false"><MatIcon Icon="@MatIconNames.Person"></MatIcon>&nbsp; @entry.Key</MatNavItem>
                        </MatNavSubMenuHeader>
                        <MatNavSubMenuList>
                            @foreach (var codeDefinition in @entry.Value)
                            {
                                <MatNavItem @onclick="() => this.Accept(codeDefinition)"><MatIcon Icon="@Utilities.GetEnumIconName(codeDefinition.CodeType)"></MatIcon>&nbsp; @codeDefinition.Name</MatNavItem>
                            }
                        </MatNavSubMenuList>
                    </MatNavSubMenu>
                }
            }
            else
            {
                <MatSubtitle1>Sorry, no channel filters or shared code files are available yet.</MatSubtitle1>
            }
        </MatNavMenu>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="this.Cancel">Cancel</MatButton>
    </MatDialogActions>
</MatDialog>