@using Microsoft.AspNetCore.Http

@inherits AppStateComponentBase
@inject IHttpContextAccessor httpContextAccessor

<div class="variable-box-sub">
    <div class="selected-variables">
        @if (!this.AppState.SelectedDatasets.Any())
        {
            <span class="small-text">no channels selected</span>
        }
        else
        {
            @foreach (var dataset in this.AppState.SelectedDatasets)
            {
                <div class="selected-variable" @onclick="() => this.AppState.ToggleDatasetSelection(dataset)">
                    <span class="selected-variable-name">@dataset.Parent.Name (@dataset.Name)</span>
                    <span class="selected-variable-campaign">@dataset.Parent.Parent.Name.TrimStart('/').Replace("/", " / ")</span>
                </div>
            }
        }
    </div>

    <MatButton Icon="@MatIconNames.Cloud_download"
               OnClick="() => this.AppState.DownloadAsync(httpContextAccessor.HttpContext.Connection.RemoteIpAddress)"
               Outlined="true"
               Disabled="!this.AppState.CanDownload()"
               Label="@this.GetDownloadLabel()">
    </MatButton>

</div>