@using Microsoft.AspNetCore.Http

@inherits StateComponentBase

<div class="selected-channel-box-sub">
    <div class="selected-channels">
        @if (!this.UserState.SelectedDatasets.Any())
        {
            <span class="small-text">no channels selected</span>
        }
        else
        {
            @foreach (var dataset in this.UserState.SelectedDatasets)
            {
                <div class="selected-channel" @onclick="() => this.UserState.ToggleDatasetSelection(dataset)">
                    <span class="selected-channel-name">@dataset.Parent.Name (@dataset.Name)</span>
                    <span class="selected-channel-project">@dataset.Parent.Parent.Id.TrimStart('/').Replace("/", " / ")</span>
                </div>
            }
        }
    </div>

    <MatButton Icon="@MatIconNames.Cloud_download"
               OnClick="this.DownloadAsync"
               Outlined="true"
               Disabled="!this.UserState.CanDownload()"
               Label="@this.GetDownloadLabel()">
    </MatButton>

</div>