@inherits StateComponentBase

<div class="selected-channel-box-sub">
    <div class="selected-channels">
        @if (!this.UserState.SelectedDatasets.Any())
        {
            <span class="small-text">no channels selected</span>
        }
        else
        {
            @foreach (var dataset in this.UserState.SelectedDatasets)
            {
                <div class="selected-channel" 
                     @ondblclick="() => this.UserState.ToggleDatasetSelection(dataset)"
                     @onmouseover="() => _showCopyButton = true" 
                     @onmouseout="() => _showCopyButton = false">

                    <div class="flex-row flex-space-between">
                        <span class="selected-channel-name">@dataset.Parent.Name (@dataset.Name)</span>

                        @if (_showCopyButton)
                        {
                            @* Wrap is required due to https://github.com/SamProf/MatBlazor/issues/464. *@
                            <MatTooltip Tooltip="Copy to clipboard." Wrap="true" Position="MatTooltipPosition.Top">
                                <span @onclick="() => this.CopyPath(dataset)">&nbsp;&nbsp;<i class="far fa-copy" /></span>
                            </MatTooltip>
                        }
                    </div>

                    <span class="selected-channel-project">@dataset.Parent.Parent.Id.TrimStart('/').Replace("/", " / ")</span>
                </div>
            }
        }
    </div>

    <MatButton Icon="@MatIconNames.Cloud_download"
               OnClick="this.DownloadAsync"
               Outlined="true"
               Disabled="!this.UserState.CanDownload()"
               Label="@this.GetDownloadLabel()">
    </MatButton>

</div>