@inherits StateComponentBase

<MatHeadline4>Running jobs</MatHeadline4>
@foreach (var jobControl in this.ExportJobsService
   .GetJobs()
   .Where(jobControl => !jobControl.Task.IsCompleted))
{
    <p>@jobControl.Job.Id: @jobControl.Task.Status</p>
    <MatProgressBar Progress="jobControl.Progress"></MatProgressBar>
    <p>@jobControl.ProgressMessage</p>
}

@foreach (var jobControl in this.AggregationJobsService
   .GetJobs()
   .Where(jobControl => !jobControl.Task.IsCompleted))
{
    <p>@jobControl.Job.Id: @jobControl.Task.Status</p>
    <MatProgressBar Progress="jobControl.Progress"></MatProgressBar>
    <p>@jobControl.ProgressMessage</p>
}

<MatHeadline4>Completed jobs</MatHeadline4>
@foreach (var jobControl in this.ExportJobsService
   .GetJobs()
   .Where(jobControl => jobControl.Task.IsCompleted))
{
    <p>@jobControl.Job.Id: @jobControl.Task.Status</p>
    <p>@jobControl.ProgressMessage</p>
}

@foreach (var jobControl in this.AggregationJobsService
   .GetJobs()
   .Where(jobControl => jobControl.Task.IsCompleted))
{
    <p>@jobControl.Job.Id: @jobControl.Task.Status</p>
    <p>@jobControl.ProgressMessage</p>
}