@inherits StateComponentBase

<div class="project-box-available">
    <MatHeadline5>Available Projects</MatHeadline5>

    @if (this.AppState.IsDatabaseInitialized)
    {
        <ul>
            @foreach (var projectContainer in this.UserState.ProjectContainersInfo.Accessible.Concat(this.UserState.ProjectContainersInfo.Restricted))
            {
                <li @onclick="() => this.UserState.ProjectContainer = projectContainer">
                    <div class="project-item @(this.UserState.ProjectContainer?.Id == projectContainer.Id ? "active" : "")">
                        <div class="project-item-name">
                            @projectContainer.Id.TrimStart('/').Replace("/", " / ")
                            @if (this.UserState.ProjectContainersInfo.Restricted.Contains(projectContainer))
                            {
                                @* Wrap is required due to https://github.com/SamProf/MatBlazor/issues/464. *@
                                <MatTooltip Tooltip="You do not have access to this project." Wrap="true" Position="MatTooltipPosition.Top">
                                    <span>&nbsp; &nbsp;<i class="fas fa-lock"></i></span>
                                </MatTooltip>
                            }
                            else if (projectContainer.ProjectMeta.IsQualityControlled)
                            {
                                @* Wrap is required due to https://github.com/SamProf/MatBlazor/issues/464. *@
                                <MatTooltip Tooltip="This project is quality controlled." Wrap="true" Position="MatTooltipPosition.Top">
                                    <span>&nbsp; &nbsp;<i class="fas fa-check-circle quality-controlled"></i></span>
                                </MatTooltip>
                            }
                        </div>
                        <div class="small-text">&nbsp;&nbsp;&nbsp;@projectContainer.ProjectMeta.ShortDescription</div>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="ml-15px flex-centered-vertically h-100"><i class="pulsate-css"></i>&nbsp;&nbsp; Initializing ...</div>
    }
</div>
<div class="project-box-selected">

    @if (this.UserState.ProjectContainer != null)
    {
        <MatHeadline5>@this.UserState.ProjectContainer.Id.TrimStart('/').Replace("/", " / ")</MatHeadline5>
        <p class="long-description small-text">
            @this.UserState.ProjectContainer.ProjectMeta.LongDescription
        </p>
        <div class="project-box-selected-footer">
            <div class="project-box-selected-footer-date">
                <b>Start:&nbsp;</b> @this.UserState.ProjectContainer.Project.ProjectStart.ToString("dd.MM.yyyy") &nbsp;&nbsp;&nbsp; <b>End:&nbsp;</b> @this.UserState.ProjectContainer.Project.ProjectEnd.ToString("dd.MM.yyyy")
            </div>

            @if (this.UserState.ProjectContainersInfo.Accessible.Contains(this.UserState.ProjectContainer))
            {
                <div class="project-box-selected-footer-icons">
                    @* Wrap is required due to https://github.com/SamProf/MatBlazor/issues/464. *@
                    <MatTooltip Tooltip="Availability" Position="MatTooltipPosition.Top" Wrap="true">
                        <MatIconButton Class="@(this.UserState.ClientState == ClientState.Availability ? "selected" : "")" Icon="@MatIconNames.Bar_chart" OnClick="this.UserState.ToggleAvailability" />
                    </MatTooltip>

                    @* Wrap is required due to https://github.com/SamProf/MatBlazor/issues/464. *@
                    @if (this.UserState.ProjectContainer.ProjectMeta.Logbook.Any())
                    {
                        <MatTooltip Tooltip="Logbook" Position="MatTooltipPosition.Top" Wrap="true">
                            <MatIconButton Icon="@MatIconNames.Event_note" OnClick="this.OpenLogBookDialog" />
                        </MatTooltip>
                    }

                    @* Wrap is required due to https://github.com/SamProf/MatBlazor/issues/464. *@
                    @if (this.UserState.Attachments != null && this.UserState.Attachments.Any())
                    {
                        <MatTooltip Tooltip="Attachments" Position="MatTooltipPosition.Top" Wrap="true">
                            <MatIconButton Icon="@MatIconNames.Attach_file" OnClick="this.OpenAttachmentsDialog" />
                        </MatTooltip>
                    }
                </div>

                <LogBookModal @bind-IsOpen="this.LogBookDialogIsOpen" />
                <AttachmentsModal @bind-IsOpen="this.AttachmentsDialogIsOpen" />
            }
        </div>
    }
    else
    {
        <span class="small-text">no project selected</span>
    }
</div>