@inherits StateComponentBase

    <div>
        <MatDatePicker class="settings-control"
                       Label="From (UTC)"
                       Format="dd.MM.yyyy HH:mm"
                       @bind-Value="this.UserState.DateTimeBeginWorkaround"
                       EnableTime="true"
                       EnableSeconds="false"
                       Enable24hours="true"
                       AllowInput="true">
        </MatDatePicker>

        <MatDatePicker class="settings-control"
                       Label="To (UTC)"
                       Format="dd.MM.yyyy HH:mm"
                       @bind-Value="this.UserState.DateTimeEndWorkaround"
                       EnableTime="true"
                       EnableSeconds="false"
                       Enable24hours="true"
                       AllowInput="true">
        </MatDatePicker>

        <MatSelectItem class="settings-control"
                       Label="File Granularity"
                       @bind-Value="this.UserState.FileGranularity"
                       Items="this.AppState.FileGranularityValues">
            <ItemTemplate Context="value">
                @Utilities.GetEnumLocalization(@value)
            </ItemTemplate>
        </MatSelectItem>

        <MatSelectItem class="settings-control"
                       Label="File Type"
                       @bind-Value="this.UserState.FileFormat"
                       Items="this.AppState.FileFormatValues">
            <ItemTemplate Context="value">
                @Utilities.GetEnumLocalization(@value)
            </ItemTemplate>
        </MatSelectItem>

        @if (this.UserState.FileFormat == Infrastructure.FileFormat.CSV)
        {
            <MatSelectItem class="settings-control"
                           Label="Row index format"
                           @bind-Value="this.UserState.ExportParameters.CsvRowIndexFormat"
                           Items="this.AppState.CsvRowIndexFormatValues">
                <ItemTemplate Context="value">
                    @Utilities.GetEnumLocalization(@value)
                </ItemTemplate>
            </MatSelectItem>

            <MatTextField class="settings-control"
                          Type="number"
                          Label="Significant figures"
                          @bind-Value="this.UserState.ExportParameters.CsvSignificantFigures">
            </MatTextField>
        }

        <MatSelectItem class="settings-control"
                       Label="Sample Rate"
                       @bind-Value="this.UserState.SampleRate"
                       Items="this.UserState.SampleRateValues">
        </MatSelectItem>

        @if (this.UserState.ClientState == ClientState.DataVisualizing)
        {
            <div class="chart-settings">
                <MatSubtitle1>Chart Settings</MatSubtitle1>

                <div>
                    <MatCheckbox @bind-Value="@this.UserState.VisualizeBeginAtZero" Label="Begin at Zero"></MatCheckbox>
                </div>
            </div>
        }
    </div>

<div>
    <div class="preset-panel">
        <MatDivider></MatDivider>
        <MatButton Icon="@MatIconNames.File_copy" 
                   OnClick="this.OpenPresetsDialog"
                   Label="Load Presets"></MatButton>
        <MatDivider></MatDivider>
    </div>

    <div class="configuration-panel">

        <div class="flex-row">
            <div class="configuration-panel-hover fixed-width">
                <label>
                    <span class="icon-button">
                        <i class="fas fa-folder-open"></i>
                        <MatSubtitle2 class="clear-margin">Load</MatSubtitle2>
                    </span>
                    <InputFile OnChange="OnLoadExportSettingsAsync" accept="application/JSON" />
                </label>
            </div>

            <div class="configuration-panel-hover fixed-width">
                <div class="icon-button" @onclick="OnSaveExportSettingsAsync">
                    <i class="fas fa-file-download"></i>
                    <MatSubtitle2 class="clear-margin">Save</MatSubtitle2>
                </div>
            </div>

            @if (this.UserState.CanVisualize())
            {
                <div class="configuration-panel-hover fixed-width @(this.UserState.ClientState == ClientState.DataVisualizing ? "active" : "")">
                    <div class="icon-button" @onclick="this.UserState.ToggleDataVisualization">
                        <i class="fas fa-chart-area"></i>
                        <MatSubtitle2 class="clear-margin">Visualize</MatSubtitle2>
                    </div>
                </div>
            }
            else
            {
                <div class="configuration-panel-hover disabled">
                    <div class="icon-button">
                        <i class="fas fa-chart-area"></i>
                        <MatSubtitle2 class="clear-margin">Visualize</MatSubtitle2>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<PresetsModal @bind-IsOpen="this.PresetsDialogIsOpen" />