@inherits StateComponentBase

<div class="settings-content-box">

    <MatTabGroup>
        <MatTab Label="Claims">

            <MatList>
                @foreach (var user in this.Settings.Users)
                {
                    <MatListItem @onclick="() => this.Settings.User = user">
                        @user.UserName
                    </MatListItem>
                }
            </MatList>

            @if (this.Settings.Claims != null)
            {
                <div class="flex-column">
                    @foreach (var claim in this.Settings.Claims)
                    {
                        <MatTextField @bind-Value="@claim.Type" Label="Claim type"></MatTextField>
                        <MatTextField @bind-Value="@claim.Value" Label="Claim value"></MatTextField>
                        @if (!string.IsNullOrWhiteSpace(claim.Type))
                        {
                            <MatButton @onclick="() => this.Settings.RemoveClaim(claim)">
                                <i class="fa fa-minus"></i> &nbsp; Delete
                            </MatButton>
                        }
                    }
                </div>

                <MatButton @onclick="this.Settings.SaveClaimChanges">
                    <i class="fa fa-save"></i> &nbsp; Save
                </MatButton>
            }

        </MatTab>

        <MatTab Label="Settings">

            <MatButton Icon="@MatIconNames.Autorenew" @onclick="async () => await this.AppState.UpdateDatabaseAsync()">Reload Database</MatButton>

            <MatTextField @bind-Value="@this.Options.DataBaseFolderPath"
                          Label="Database Location">
            </MatTextField>

            <MatNumericUpDownField @bind-Value="@this.Options.AggregationChunkSizeMB"
                                   Label="Aggregation chunk size (MB)"
                                   PlaceHolder="e.g. 200">
            </MatNumericUpDownField>

            <MatTextField @bind-Value="@this.Options.AspBaseUrl"
                          Label="URL"
                          PlaceHolder="e.g. 0.0.0.0:8080">
            </MatTextField>

            <MatTextField @bind-Value="@this.Options.Language"
                          Label="Language"
                          PlaceHolder="e.g. en">
            </MatTextField>

            <MatButton @onclick="this.SaveOptions">
                <i class="fa fa-save"></i> &nbsp; Save
            </MatButton>

        </MatTab>

        <MatTab Label="Job Creator">

            <div class="flex-row h-100">
                <div class="flex-column w-50">
                    <FormGenerator Changed="this.UpdateJobEditor"
                                   DataContext="this.JobEditor.AggregationSetup"></FormGenerator>
                </div>
                <div class="flex-column w-50">
                    <div class="flex-row h-50">
                        <textarea class="job-creator-analysis" readonly>@this.JobEditor.Analysis</textarea>
                    </div>
                    <div class="flex-row h-50">
                        <textarea class="job-creator-json-text" @bind-value="this.JobEditor.JsonString" @bind-value:event="oninput" />
                    </div>
                </div>
            </div>

        </MatTab>

        <MatTab Label="Jobs">
            <JobsSettings />
        </MatTab>

    </MatTabGroup>

</div>